<h1> FLIGHT NUMBER: <%= @flight.id %> </h1>
<h3> Departing: <%= @flight.from_airport.code %> at <%= @flight.start.to_formatted_s %> </h3>
<h3> Arriving: <%= @flight.to_airport.code %> </h3>

<h4> Enter information for each passenger </h4>
<%= form_tag({controller: :bookings, action: :create}, method: :post) %>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    Enter Passenger information<br>
    <%= label_tag "passenger[#{index}]", :name %>
    <%= text_field_tag "[passenger][#{index}][name]" %>
    <br>
    <%= label_tag "passenger[#{index}]", :email %>
    <%= text_field_tag "passenger[#{index}][email]" %>
    <%= hidden_field_tag :new_flight, @flight.id %>
    <br><br>
  <% end %>
  <%= submit_tag "Book that flight!" %>
